<table class="w-full">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        <div>{{ col }}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- loop through titles -->
    <ng-container *ngFor="let data of dataSource">
      <tr (click)="toggleExpand(data.title_id)">
        <td class="id">
          <div class="flex">
            <div class="w-[32px]">
              <img
                *ngIf="data.content_type === 'Series'"
                [appIcon]="expandState[data.title_id] ? 'expand' : 'collapse'"
              />
            </div>
            {{ data.title_id }}
          </div>
        </td>
        <td class="title">{{ data.title_name }}</td>
        <td>{{ data.content_type }}</td>
        <td>{{ data.seasons?.length || '-' }}</td>
        <td>{{ data.episode_count }}</td>
        <td>{{ data.publish_timestamp | date: 'MMM d, y' }}</td>
        <td><app-toggle-switch></app-toggle-switch></td>
      </tr>
      <ng-container
        *ngIf="data.content_type === 'Series' && expandState[data.title_id]"
      >
        <!-- loop through seasons -->
        <ng-container *ngFor="let season of data.seasons">
          <tr (click)="toggleExpand(season.season_id)">
            <td class="flex id">
              <img
                [appIcon]="
                  expandState[season.season_id] ? 'expand' : 'collapse'
                "
              />{{ season.season_id }}
            </td>
            <td>Season {{ season.season_number }}</td>
            <td>Season</td>
            <td>S{{ season.season_number }}</td>
            <td>{{ season.episode_count }}</td>
            <td>{{ season.publish_timestamp | date: 'MMM d, y' }}</td>
            <td></td>
          </tr>
          <!-- loop through episodes -->
          <ng-container *ngIf="expandState[season.season_id]">
            <tr *ngFor="let episode of season.episodes">
              <td class="id">{{ episode.episode_id }}</td>
              <td>{{ episode.episode_name }}</td>
              <td>Episode</td>
              <td>-</td>
              <td>{{ episode.episode_number }}</td>
              <td>-</td>
              <td></td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>
