<table class="w-full">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        <div>{{ col }}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- loop through titles -->
    <ng-container *ngFor="let data of dataSource">
      <tr class="title" (click)="toggleExpand(data.title_id)">
        <td
          class="text-[#494948] relative"
          [class.expand]="expandState[data.title_id]"
        >
          <div class="flex pl-[11px]">
            <div class="w-[32px]">
              <img
                *ngIf="data.content_type === 'Series'"
                [appIcon]="expandState[data.title_id] ? 'expand' : 'collapse'"
              />
            </div>
            {{ data.title_id }}
          </div>
        </td>
        <td class="font-medium">{{ data.title_name }}</td>
        <td>{{ data.content_type }}</td>
        <td>{{ data.seasons?.length || '-' }}</td>
        <td>{{ data.episode_count }}</td>
        <td>{{ data.publish_timestamp | date: 'MMM d, y' }}</td>
        <td>
          <div class="flex items-center">
            <app-toggle-switch
              class="mr-[16px]"
              [checked]="programmableState[data.title_id].programmable"
              (switch)="onTitleSwitch($event, data.title_id)"
            ></app-toggle-switch
            ><span>{{
              data.content_type === 'Series' ? 'All Seasons' : 'Single Movie'
            }}</span>
          </div>
        </td>
      </tr>
      <ng-container
        *ngIf="data.content_type === 'Series' && expandState[data.title_id]"
      >
        <!-- loop through seasons -->
        <ng-container
          *ngFor="let season of data.seasons; let seasonIndex = index"
        >
          <tr class="season" (click)="toggleExpand(season.season_id)">
            <td
              class="text-[#494948] relative expand"
              [class.last]="seasonIndex === data.seasons.length - 1"
              colspan="2"
            >
              <div class="flex pl-[50px] align-center">
                <img
                  [appIcon]="expandState[season.season_id] ? 'minus' : 'plus'"
                  class="mr-[10px]"
                />
                <span class="inline-block w-[56px] mr-[8px]">{{
                  season.season_id
                }}</span>
                <span>Season {{ season.season_number }}</span>
              </div>
            </td>
            <td>Season</td>
            <td>S{{ season.season_number }}</td>
            <td>{{ season.episode_count }}</td>
            <td>{{ season.publish_timestamp | date: 'MMM d, y' }}</td>
            <td>
              <div class="flex items-center">
                <app-toggle-switch
                  class="mr-[16px]"
                  [checked]="programmableState[season.season_id].programmable"
                  (switch)="onSeasonSwitch($event, season.season_id)"
                ></app-toggle-switch
                ><span>All Episodes</span>
              </div>
            </td>
          </tr>
          <!-- loop through episodes -->
          <ng-container *ngIf="expandState[season.season_id]">
            <tr
              class="episode"
              *ngFor="let episode of season.episodes; let episodeIndex = index"
            >
              <td class="text-[#494948] relative expand" colspan="2">
                <div
                  class="expand-line"
                  [class.last-season]="seasonIndex === data.seasons.length - 1"
                  [class.last-episode]="
                    episodeIndex === season.episodes.length - 1
                  "
                ></div>
                <div class="flex pl-[88px]">
                  <span class="inline-block w-[56px] mr-[8px]">{{
                    episode.episode_id
                  }}</span>
                  <span>{{ episode.episode_name }}</span>
                </div>
              </td>
              <td>Episode</td>
              <td>-</td>
              <td>EP{{ episode.episode_number }}</td>
              <td>-</td>
              <td>
                <div class="flex items-center">
                  <app-toggle-switch
                    class="mr-[16px]"
                    [checked]="
                      programmableState[episode.episode_id].programmable
                    "
                    (switch)="onEpisodeSwitch($event, episode.episode_id)"
                  ></app-toggle-switch
                  ><span>Per Episode</span>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>
