<table class="w-full">
  <thead>
    <tr>
      <th *ngFor="let col of columns">
        <div>{{ col }}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- loop through titles -->
    <ng-container *ngFor="let data of dataSource">
      <tr class="title" (click)="toggleExpand(data.title_id)">
        <td
          class="text-[#494948] relative"
          [class.expand]="expandState[data.title_id]"
        >
          <div class="flex pl-[11px]">
            <div class="w-[32px]">
              <img
                *ngIf="data.content_type === 'Series'"
                [appIcon]="expandState[data.title_id] ? 'expand' : 'collapse'"
              />
            </div>
            {{ data.title_id }}
          </div>
        </td>
        <td class="font-medium">{{ data.title_name }}</td>
        <td>{{ data.content_type }}</td>
        <td>{{ data.seasons?.length || '-' }}</td>
        <td>{{ data.episode_count }}</td>
        <td>{{ data.publish_timestamp | date: 'MMM d, y' }}</td>
        <td><app-toggle-switch></app-toggle-switch></td>
      </tr>
      <ng-container
        *ngIf="data.content_type === 'Series' && expandState[data.title_id]"
      >
        <!-- loop through seasons -->
        <ng-container
          *ngFor="let season of data.seasons; let seasonIndex = index"
        >
          <tr class="season" (click)="toggleExpand(season.season_id)">
            <td
              class="text-[#494948] relative expand"
              [class.last]="seasonIndex === data.seasons.length - 1"
              colspan="2"
            >
              <div class="flex pl-[50px]">
                <div class="w-[32px]">
                  <img
                    [appIcon]="expandState[season.season_id] ? 'minus' : 'plus'"
                  />
                </div>
                <span>{{ season.season_id }}</span>
                <span>Season {{ season.season_number }}</span>
              </div>
            </td>
            <td>Season</td>
            <td>S{{ season.season_number }}</td>
            <td>{{ season.episode_count }}</td>
            <td>{{ season.publish_timestamp | date: 'MMM d, y' }}</td>
            <td></td>
          </tr>
          <!-- loop through episodes -->
          <ng-container *ngIf="expandState[season.season_id]">
            <tr
              class="episode"
              *ngFor="let episode of season.episodes; let episodeIndex = index"
            >
              <td class="text-[#494948] relative expand" colspan="2">
                <div
                  class="expand-line"
                  [class.last-season]="seasonIndex === data.seasons.length - 1"
                  [class.last-episode]="
                    episodeIndex === season.episodes.length - 1
                  "
                ></div>
                <div class="flex pl-[88px]">
                  <span>{{ episode.episode_id }}</span>
                  <span>{{ episode.episode_name }}</span>
                </div>
              </td>
              <td>Episode</td>
              <td>-</td>
              <td>{{ episode.episode_number }}</td>
              <td>-</td>
              <td></td>
            </tr>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>
