:host {
  display: block;
}

table {
  border: 1px solid rgb(0 0 0 / 15%);
  border-radius: 5px;
  border-collapse: separate;
  border-spacing: 0;
}

/* table header */
thead {
  width: 100%;
  height: 48px;
  background-color: rgba(32, 32, 32, 0.05);
}

th {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */

  letter-spacing: 0.15px;

  /* GREY 800 */
  color: #292928;
}

tr > th:first-child {
  padding-left: 32px;
}

th > div {
  height: 32px;
  text-align: left;
}

/* table body  */
tbody {
  background: #ffffff;
}

tbody > tr {
  height: 48px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}

td {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */
  text-align: left;

  letter-spacing: 0.15px;

  /* MAIN/BLACK 500 */

  color: #000000;
}

tr.title > .expand::before {
  position: absolute;
  content: '';
  top: 29px;
  left: 16px;
  height: 18px;
  border: 1px solid #c3c3c2;
}

tr.season > .expand::before {
  position: absolute;
  content: '';
  top: 0px;
  left: 16px;
  height: 100%;
  border: 1px solid #c3c3c2;
}

tr.season > .expand.last::before {
  height: 50%;
}

tr.season > .expand::after {
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  left: 16px;
  width: 25px;
  border: 1px solid #c3c3c2;
}

tr.episode > .expand::after {
  position: absolute;
  content: '';
  top: calc(50% - 1px);
  left: 58px;
  width: 25px;
  border: 1px solid #c3c3c2;
}

.expand-line {
  position: absolute;
  top: 0px;
  left: 16px;
  height: 100%;
  width: 43px;
}

.expand-line::before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  height: 100%;
  border: 1px solid #c3c3c2;
}

.expand-line::after {
  position: absolute;
  content: '';
  top: 0px;
  left: 42px;
  height: 100%;
  border: 1px solid #c3c3c2;
}

.expand-line.last-season::before {
  border-style: none;
  height: 0px;
}

.expand-line.last-episode::after {
  height: 50%;
}
